/*ACA COMIENZA EL HEADER*/


.nav-wraper {
    width: 100%;
    margin: 0;
    nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:$fondo-verde;
    color: white;
    label {
        padding-right: 20px;
    }
    .logo-nav {
        width: 100px;
        padding: 8px;
        border-radius: 50%;
        }
    }
}

.menu{
    ul {
        display: flex;
        list-style: none;
        li {
            a{
                color: rgb(255, 255, 255);
                padding: 10px 25px;
                margin: 0 3px;
                font-size: 20px;
                text-align: center;
                border-radius: 0;
                transition: background-color 0.24s, border-radius 0.2s;
                &:hover {
                background-color: rgba(19, 125, 0, 0.282);
                border-radius: 20px;
                outline: 2px solid rgba(19, 125, 0, 0.282) ;
                }
            }
            .parado-en-pag {
                color: rgb(30, 255, 0);
                text-shadow: 2px 2px 2px black;
            }
        }
    }
}

#toggle, nav label {
    display: none;
    height: 100%;
}
