/* AQUI COMIENZA EL BODY DE PLANES */


.section-elegi-planes {
    text-align: center;
    
}

.h1-nuestros-precios {
    color: $letras-verde;
    font-size: 2.3rem;
    margin-bottom: 10px;
    margin-top: 40px;
}

.h2-elige-tu-plan {
    font-size: 2rem;
    margin-bottom: 10px;
}

.explicacion-planes {
    p {
        padding-right: 50px;
        padding-left: 50px;
        font-size: 32px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 4px $letras-verde;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    h3 {
        font-size: 2.3em;
        color: $letras-verde;
    }
}

.card-planes {
    background-color: green;
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin: 20px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px white;
    

    &:hover {
        background-color: rgb(0, 188, 0);
    }
}

.section-personalizados {
    display: flex;
    height: 100%;
    margin-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tituloyprecios {
    font-size: 1rem;
    margin-top: 10px;
    h2{
        text-transform: uppercase;
    }
    h3 {
        background-color: white;
        margin-top: 20px;
        color: black;
        text-transform: uppercase;
    }
}

.personalizados ul {
    display: flex;
    flex-direction: column;
    

    li {
        font-size: 1em;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        &::marker {
            content: "💪🏻";
        }
    }
}

.button-contactanos button {
    width: 13rem;
    height: 3rem;
    background-color: black;
    margin: 5px;
    font-size: 1.5rem;
    border: 2px solid rgb(202, 255, 203);
    cursor: pointer;
    margin-bottom: 30px;

    a {
        color: white;
        text-shadow: 3px 3px 10px $letras-verde;
    }
}